.promo {
  display: flex;
  flex-direction: column;
  background-color: #5C5C5C;
  box-sizing: border-box;
  padding: 0 70px;

  &__title {
    max-width: 600px;
    margin-top: 50px;

    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 52px;
  }

  &__img {
    width: 722px;
    align-self: flex-end;
    margin-top: 102px;
    margin-bottom: 60px;
  }
}