.welcome {
  margin-top: 70px;
  width: 396px;
  display: flex;
  flex-direction: column;

  &__logo {
    width: 38px;
    height: 38px;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    margin-top: 40px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 1279px) {
  .welcome {
    margin-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .welcome {
    margin-top: 56px;
    width: fit-content;
    align-items: center;

    &__text {
      margin-top: 50px;
    }
  }
}