.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 18px 70px;
  z-index: 5;

  &__logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.png);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 212px;
    margin-left: calc(50% - 38px - 106px);

    &-item {
      border: none;
      background-color: transparent;
      height: fit-content;
      width: fit-content;
      transition: opacity .5s ease;

      color: #000;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;

      &_selected {
        font-weight: 500;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  &__profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    gap: 7px;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid rgba($color: #aaa, $alpha: .2);
    border-radius: 16px;
    margin-left: auto;
    transition: opacity .5s ease;

    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      opacity: .5;
    }
  }

  &__auth-block {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__reg-btn {
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    transition: opacity .5s ease;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    &:hover {
      opacity: .5;
    }
  }

  &__login-btn {
    border: none;
    background-color: #2BE080;
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: opacity .5s ease;

    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    &:hover {
      opacity: .5;
    }
  }
  
  &__menu-btn {
    display: none;
  }

  &_main-page {
    .header__nav-item {
      color: #fff;
    }

    .header__reg-btn {
      color: #fff;
    }

    .header__profile-btn {
      color: #fff;

      &-img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(111%) contrast(101%);
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 15px 30px;

    &__nav {
      display: none;
    }

    &__profile-btn {
      display: none;
    }

    &__menu-btn {
      display: flex;
      border: none;
      width: fit-content;
      height: fit-content;
      border: none;
      background-color: transparent;
      margin-left: auto;
    }

    &_main-page {
      .header__menu-btn {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(111%) contrast(101%);
      }
    }
  }
}